<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'TestApp' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>c1594c4c-6124-4f52-95be-349e63c9c209</InstrumentationKey>
</ApplicationInsights>